<script>
  var _templateName = "categories";
  var catID = {{category.id}};
</script>

<div class="breadcrumb-bg">
  <div class="container">
    <!-- Zendesk's component to show breadcrumbs -->
    {{breadcrumbs}}
  </div>
</div>

<div class="category-template-wrapper">
  <div class="container">
    <!-- Zendesk's component to show the Category's Title -->
    <h1 class="title category-title">{{category.name}}</h1>

    <!-- Zendesk's component to show the Category's Description entered, when creating a category by Zendesk's Help Center Admin -->
    <p class="category-description">{{category.description}}</p>

    <section class="category-content-wrapper content-wrapper">
      <div class="sidebar collapsible-sidebar category-sidebar">
        <h3 class="collapsible-sidebar-title sidenav-title menu-title">
          Menu
        </h3>
        <div class="overview-details">
          <ul class="hc-category-list"></ul>
        </div>
      </div>
      <div class="category-content content-area">
        {{#each sections}}
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{{url}}">{{name}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
              <img src="{{asset 'plus-icon.svg'}}" onerror="this.src={{asset 'plus-icon.png'}};this.onerror=null;" alt="plus-icon" class="close"/>
              <img src="{{asset 'minus-icon.svg'}}" onerror="this.src={{asset 'minus-icon.png'}};this.onerror=null;" alt="minus-icon" class="open"/>
            </h3>
            {{#if articles}}
              <ul class="article-list">
                {{#each articles}}
                  <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                    {{#if promoted}}
                      <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                    {{/if}}
                    <a href="{{url}}" class="article-list-link">{{title}}</a>
                  </li>
                {{/each}}
              </ul>
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            {{else}}
              <i class="section-empty">
                <a href="{{url}}">{{t 'empty'}}</a>
              </i>
            {{/if}}
          </section>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </section>
  </div>
</div>
