<footer class="hc_footer footer">
  <div class="container footer-inner footer-padding">
    <div class="footer-links popular-phones">
      <h3>Most popular phones</h3>
      <ul>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Hot offers">Hot offers</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPhone 6">iPhone 6</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPhone 6 plus">iPhone 6 plus</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPhone 5s">iPhone 5s</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPhone 5c">iPhone 5c</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Samsung GALAXY S5">Samsung GALAXY S5</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Samsung GALAXY S4">Samsung GALAXY S4</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Samsung GALAXY Note 3">Samsung GALAXY Note 3</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="HTC One (M8)">HTC One (M8)</a>
        </li>
      </ul>
    </div>
    <div class="footer-links view-all-phones">
      <h3>View all phones</h3>
      <ul>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Popular Sections">Popular Sections</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Android">Android</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPhone">iPhone</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Windows Phone">Windows Phone</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="iPad">iPad</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Paonid central">Paonid central</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Mobile broadband">Mobile broadband</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Prepaid">Prepaid</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Contarct plans">Contarct plans</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Careers">Careers</a>
        </li>
      </ul>
    </div>
    <div class="footer-links support">
      <h3>Support</h3>
      <ul>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Support home">Support home</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Network troubleshooting">Network troubleshooting</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Community">Community</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Contact us">Contact us</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Compliments and Complaints">Compliments and Complaints</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Coverage Checker">Coverage Checker</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Find a store near you">Find a store near you</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Recharge your prepaid mobile">Recharge your prepaid mobile</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Activate your prepaid mobile SIM">Activate your prepaid mobile SIM</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Activate your mobile broadband">Activate your mobile broadband</a>
        </li>
      </ul>
    </div>
    <div class="footer-links about-site">
      <h3>About this site</h3>
      <ul>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Site map">Site map</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Repair, exchange &amd; refunds policy">Repair, exchange &amd; refunds policy</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="About">About</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Careers">Careers</a>
        </li>
        <!-- Need to replace '#' (HASH) in href="#" with your company's website URL -->
        <li>
          <a href="#" title="Fair use policy">Fair use policy</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bg footer-info container">
    <div class="footer-content-wrapper">
      <ul class="social social-links">
        <li>
          <a href="{{settings.facebook_link}}" title="facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="{{settings.twitter_link}}" title="twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="{{settings.linkedin_link}}" title="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="{{settings.googleplus_link}}" title="google-plus">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="{{settings.pinterest}}" title="pinterest">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="{{settings.email}}" title="email">
            <i class="fa fa-envelope-o"></i></a>
        </li>
      </ul>

      {{#if alternative_locales}}
      <div class="dropdown language-selector" aria-haspopup="true">
        <a class="dropdown-toggle">
          {{current_locale.name}}
        </a>
        <span class="dropdown-menu dropdown-menu-end" role="menu">
          {{#each alternative_locales}}
          <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
            {{name}}
          </a>
          {{/each}}
        </span>
      </div>
      {{/if}}
    </div>

    <div class="footer-content-wrapper">
      <p class="copyright">Copyright &copy; <span id="year"></span> {{help_center.name}}. All Rights Reserved</p>

      <p class="company-info">
        <a target="_blank" title="Theme Designed By Diziana" href="//www.diziana.com/">
          Zendesk Theme Designed by Diziana
        </a>
      </p>
    </div>
  </div>
</footer>
