<script>
  var _templateName = "new-request-page";
</script>

<div class="breadcrumb-bg">
  <div class="container">
    <!-- Zendesk's component to show breadcrumbs -->
    {{breadcrumbs}}
  </div>
</div>

<div class="new-request-page-template-wrapper">
  <div class="container">

    <h1>
      {{t 'submit_a_request'}}
      {{#if follow_up}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
      {{/if}}
    </h1>

    <div class="form">
      {{request_form}}
    </div>

    {{chat}}

  </div>
</div>
